<!-- Intro Header -->
<header class="intro-2">
  <div class="intro-body">
    <div class="container">
      <h3>Organic all natural ingredients, clean spring water, bottled by elves, and sustainably brewed with unicorn dust...</h3>
    </div>
  </div>
</header>

<div class="container">
	<div id="who-loves" class="row">
		<div class="col-sm-5 col-md-5">
			<div id="stats" class="row">
				<h3>Here's how we're doing</h3>
				<h4>Total Bottles Sold: <span>15,210</span></h4>
				<h4>Total Bottles Shipped: <span>36,632</span></h4>
        <h4>24 oz bottles @ <span>$6.99</span></h4>
				<%= link_to 'Order Yours Now', order_path, class: 'btn btn-default btn-lg' %>
			</div>
			<div id="social" class="row social-icons">
				<h3>Follow Us</h3>
				<ul class="nav navbar-nav navbar-left nav-pills">
          <li><a href="https://twitter.com"><i class="fa fa-twitter-square"></i></a></li>
          <li><a href="https://facebook.com"><i class="fa fa-facebook-official"></i></a></li>
          <li><a href="https://instagram.com"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://pinterest.com"><i class="fa fa-pinterest-square"></i></a></li>
        </ul>
			</div>
			<div id="instagram" class="row">
				<h3>Instagram</h3>
				<div class="col-md-6 thumb">
          <a class="thumbnail" href="#">
            <%= image_tag('inst1.jpg', size: '200') %>
          </a>
        </div>
        <div class="col-md-6 thumb">
          <a class="thumbnail" href="#">
           	<%= image_tag('inst2.jpg', size: '200') %>
          </a>
        </div>
        <div class="col-md-6 thumb">
          <a class="thumbnail" href="#">
            <%= image_tag('inst3.jpg', size: '200') %>
          </a>
        </div>
        <div class="col-md-6 thumb">
          <a class="thumbnail" href="#">
            <%= image_tag('inst4.jpg', size: '200') %>
          </a>
        </div>
        <div class="col-md-6 thumb">
          <a class="thumbnail" href="#">
            <%= image_tag('inst5.jpg', size: '180') %>
          </a>
        </div>
        <div class="col-md-6 thumb">
          <a class="thumbnail" href="#">
            <%= image_tag('inst6.jpg', size: '180') %>
          </a>
        </div>        
			</div>
		</div>
		<div class="col-sm-6 col-md-6 col-md-offset-1">
			<h3>Who's buying Wolfe Beer?</h3>
				<div ng-app="app" ng-controller="indexCtrl"> 
					<ul class="media-list" ng-repeat="buyer in buyers">
					  <li class="media">
					    <div class="media-left">
					      <a href="#">
					        <img class="media-object img-thumbnail" src="{{buyer.avatar}}" alt="avatar" width="100" height="100">
					      </a>
					    </div>
					    <div class="media-body">
					      <h4 class="media-heading">{{buyer.name}}</h4>
					      <p>{{ buyer.city + ', ' + buyer.country }}<br>
					         {{ buyer.quantity }} bottles ordered!</p>
					    </div>
					  </li>
					</ul>
				</div>
		</div>
	</div>
</div>

<footer>
<div class="container">
  <p class="navbar-left"><a href="#">Wolfe Beer - The worlds greatest root beer | 2015</a></p>
</div>
	
</footer>

